<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello I am Harsh</h1>

    <!-- Form to submit form3 -->
    <form method="POST" action="{% url 'implementation' %}">
      {% csrf_token %}
      <label for="id_step_number">Step Number:</label>
      <input
        type="number"
        id="id_step_number"
        name="step_number"
        value="{{ data.step|default:0 }}"
        min="0"
        required
      />
      <button type="submit">Submit</button>
    </form>

    <table>
      {% for i in data.Step_Matrix %}
      <tr>
        {% for x, y in i %}
        <td>{{ x }} {{ y }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <p>{{ data.Step_Matrix }}</p>
    <p>{{ data.Step_Matrix }}</p>
    <p>{{ data.path_found }}</p>
  </body>
</html>
